# 🐍 Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.sqlite3
*.db
*.env
*.pkl
*.h5
*.json

# Ignore virtual environments
python/.venv/
.venv/
env/
ENV/

# Rusty stuff:

rust/mediapipe-rs
rust/TFlite-object-detection

